%h1
  = @conference.title
  \- Call for Participation
.row
.span16
  - if @conference.call_for_participation.welcome_text
    %p
      = simple_format @conference.call_for_participation.welcome_text
  - else
    %p=t("cfp.welcome_text", title: @conference.title)
