%section
  .page-header
    %h1 Welcome
  .row
    .span16
      .flash
        %div{class: "alert-message error fade in", "data-alert" => "alert"}
          %p
            Thank you for your interest in participating in #{@conference.title}.
          %p
            Unfortunately, the Call for Participation has not yet started. Please bear with us
            and leave us a little more time for our preparations.
      %p
        The Call for Participation will start on
        = succeed "." do
          %b= @conference.call_for_participation.start_date
        Please return
        at or after this date. We are looking forward to your submission.
