%section
  .page-header
    %h1= t('cfp.welcome')
  .row
    .span16
      .flash
        %div{class: "alert-message error fade in", "data-alert" => "alert"}
          %p= t('cfp.pages.thank_for_interest', {conference: @conference.title})
          %p= t('cfp.pages.not_started_cfp')

        = raw GitHub::Markdown.render(t('cfp.pages.start_date_tip', {start_date: @conference.call_for_participation.start_date}))
