%section
  .page-header
    .pull-right
      - if available_conference_locales.size > 1
        %ul.pills
          - available_conference_locales.each do |locale|
            %li{class: (I18n.locale.to_s == locale.to_s) ? "active" : ""}
              = link_to locale.to_s, url_for( locale: locale )
    =render 'call_for_participation'
