%section
  .page-header
    .pull-right
      - if available_conference_locales.size > 1
        %ul.pills
          - available_conference_locales.each do |locale|
            %li{class: (I18n.locale.to_s == locale.to_s) ? "active" : ""}
              = link_to locale.to_s, url_for( locale: locale )
    %h1
      = @conference.title
      \- Call for Participation

  .row
    .span16
      - if @conference.call_for_participation.welcome_text.present?
        =render 'welcome_text'

      - else
        %p=t("cfp.welcome_text", title: @conference.title)

        %p=t("cfp.info_url_description_html", link: link_to(@conference.call_for_participation.info_url, @conference.call_for_participation.info_url))

  .row
    .span16
      - if @conference.in_the_past?
        =t("cfp.conference_in_the_past")
      - else
        =t("cfp.deadline_description")
        %b= l(@conference.call_for_participation.end_date)
