.card.shadow-sm
  .card-body
    %h2.card-title= t('conferences_module.recent_changes')
    .table-responsive
      = render 'table'
      - if @versions.respond_to?(:total_pages) && @versions.total_pages > 1
        .d-flex.justify-content-center.mt-3
          = will_paginate @versions
