.bundle
.env.local
.env.production
.ruby-version
config/database.yml
db/*.sqlite3
log/*.log
tmp/*
tmp/**/*
public/system
index
*.swp
rerun.txt
.sass-cache/
.idea/
.redcar/
bundler/
cache/
gems/
specifications/
*~
.vagrant
doc/
tags
config/deploy/production.rb
