.bundle
config/database.yml
config/settings.yml
db/*.sqlite3
log/*.log
tmp/*
tmp/**/*
public/system
index
*.swp
rerun.txt
.sass-cache/
.idea/
.redcar/
bin/
bundler/
cache/
gems/
specifications/
*~
.vagrant
