SECRET_KEY_BASE=asdkjf3245jsjfakjq435jadsgjlkq4j5jwj45jasdjvlj
FRAB_HOST=localhost
FRAB_PROTOCOL=http
FRAB_PORT=
FROM_EMAIL=frab@localhost
SMTP_ADDRESS=localhost
SMTP_PORT=25
SMTP_NOTLS=true
SMTP_USER_NAME=
SMTP_PASSWORD=
FRAB_CURRENCY_UNIT="€"
FRAB_CURRENCY_FORMAT="%n%u"
FRAB_MAX_ATTACHMENT_SIZE_MB=42
FRAB_SHOW_ACTION_BAR_IN_CFP=1

# = LDAP + "Sign-in with Google"
# Comma seperated list of e-mails identifying admin accounts:
FRAB_EMAILS_OF_ADMINS=
# Set DISABLE_FRAB_DIRECT_LOGIN=1 to disable frab's own user registration
# and login, and use only a third-party login solution
DISABLE_FRAB_DIRECT_LOGIN=
# To enable "Sign-in with Google", populate and uncomment the following lines:
#GOOGLE_CLIENT_ID=
#GOOGLE_CLIENT_SECRET=
# To enable Sign in with an LDAP server, populate and uncomment the following lines:
#NAME_FOR_LDAP= (optional) - This name will appear in the frab login screen,
#               following  "Sign in". This overrides the language-dependant
#               value defined in the locale     .
#LDAP_PROMPT_TITLE= (optional) - This name will appear as the title in the
#                   LDAP credentials entry form.
#LDAP_HOST=
#LDAP_PORT=
#LDAP_METHOD= One of: plain, ssl, tls
#LDAP_BASE_DN=
#LDAP_UID= or LDAP_FILTER= Common values for enterprises are:
#                          LDAP_UID=sAMAccountName or LDAP_UID=UserPrincipalName
#                          LDAP_UID=uid for OpenLDAP
#                          LDAP_FILTER='(&(uid=%{username})(memberOf=cn=myapp-users,ou=groups,dc=example,dc=com))'
#LDAP_BIND_DN= not needed if server allows anonymous access
#LDAP_BIND_PASSWORD= not needed if server allows anonymous access
#LDAP_DISABLE_VERIFY_CERT=1 to Disable certificates verification

# = OpenID Connect
# Provide the following values for OpenID Connect support:
#
# OpenID Connect issuer to retrieve the configuration from
# <issuer>/.well-known/openid-configuration
#OPENID_CONNECT_ISSUER=
#
#OpenID Connect client ID and secret to be provided
#OPENID_CONNECT_CLIENT_ID=
#OPENID_CONNECT_CLIENT_SECRET=
#
# Name of the OpenID Connect provider (to be shown on the login page)
#NAME_FOR_OPENID_CONNECT=

# = Capistrano Deployment, put this in .env
CAP_USER=frab
