SECRET_KEY_BASE=asdkjf3245jsjfakjq435jadsgjlkq4j5jwj45jasdjvlj
FRAB_HOST=localhost
FRAB_PROTOCOL=http
FROM_EMAIL=frab@localhost
SMTP_ADDRESS=localhost
SMTP_PORT=25
SMTP_NOTLS=true
SMTP_USER_NAME=
SMTP_PASSWORD=
FRAB_CURRENCY_UNIT="€"
FRAB_CURRENCY_FORMAT="%n%u"
# Comma seperated list of e-mails identifying admin accounts:
FRAB_EMAILS_OF_ADMINS=
# To enable "Sign-in with Google", populate and uncomment the following lines:
#GOOGLE_CLIENT_ID=
#GOOGLE_CLIENT_SECRET=
# To enable Sign in with an LDAP server, populate and uncomment the following lines:
#NAME_FOR_LDAP= (optional) - This name will appear in the frab login screen,
#               following  "Sign in". This overrides the language-dependant
#               value defined in the locale     .
#LDAP_PROMPT_TITLE= (optional) - This name will appear as the title in the
#                   LDAP credentials entry form.
#LDAP_HOST=
#LDAP_PORT=
#LDAP_METHOD= One of: plain, ssl, tls
#LDAP_BASE_DN=
#LDAP_UID= or LDAP_FILTER= Common values for enterprises are:
#                          LDAP_UID=sAMAccountName or LDAP_UID=UserPrincipalName
#                          LDAP_UID=uid for OpenLDAP
#                          LDAP_FILTER='(&(uid=%{username})(memberOf=cn=myapp-users,ou=groups,dc=example,dc=com))'
#LDAP_BIND_DN= not needed if server allows anonymous access
#LDAP_BIND_PASSWORD= not needed if server allows anonymous access
#  only works in .env
CAP_USER=frab
