SECRET_TOKEN=asdkjf3245jsjfakjq435jadsgjlkq4j5jwj45jasdjvlj
FRAB_HOST=your-frab-domain.com
FRAB_PROTOCOL=https
FROM_EMAIL=frab@your-frab-domain.com
SMTP_ADDRESS=your-mail-server
SMTP_PORT=587
SMTP_USER_NAME=username
SMTP_PASSWORD=password
ENABLE_S3_STORAGE=true
S3_BUCKET_NAME=bucket
AWS_ACCESS_KEY_ID=key_id
AWS_SECRET_ACCESS_KEY=access_key
