<div class="nested-fields">
  <fieldset class="inputs">
    <%= f.input :im_type, :collection => ImAccount::TYPES %>
    <%= f.input :im_address %>
    <%= remove_association_link :im_account, f %>
  </fieldset>
</div>
