%section
  .page-header.mb-4
    %h1= t('people_module.new_person')
  
  .card.shadow-sm
    .card-header.d-flex.align-items-center
      %i.bi.bi-person-plus.me-2
      %h5.mb-0= t('people_module.add_person_form', default: 'Person Information')
    .card-body
      = render 'form'
