- content_for :track_menu do
  %p.tracks= t('tracks')
  %ul.tracks
    - @conference.tracks_including_subs.sort_by { |e| e.name }.each do |track|
      %li
        .event{class: "track-#{track.name.parameterize}"}= track.name
