.small { font-size:11px; }
.gray { color:#a2b0b6; }
.hightlight { background-color:#d6e7c7; }

a:link, a:visited, a:hover, a:active { color: #0a2542; } 

h1, h2, h3 { color: #103C68; font-weight: bold; }

h3 { font-size: 18px; }

a { -moz-outline: none; }

body {
  color: #222;
  background: #DFDFE1;
  font-family: helvetica, arial, sans-serif;
  font-size: 14px;
}

h1, h2, h3,
#main-navigation ul li a {
  font-family: "Lucinda Grande", "DejaVu sans", Verdana, helvetica, arial, sans-serif;
}

hr {
  background: #f0f0ee; 
  color: #f0f0ee;
}

#header {
  background: #103C68;
  border-bottom: 10px solid #1860A8;
}

#header h1{
  font-size: 32px;
  padding: 20px 0;
  font-weight: bold;
}

#header h1 a:link, #header h1 a:active, 
#header h1 a:hover, #header h1 a:visited {
  color: #ffffff;
}

#main .block .content {
  background: #FFF;
  padding-top: 1px;
}

#main .block .content h2 {
  margin-left: 15px;
  margin-bottom: 30px;
}

#main .content { 
  border: 1px solid #c5c3c2;
}

#sidebar .block {
  background: #FFF;
  border: none;
}

#sidebar h3 { 
  font-size: 16px;
  padding: 8px 12px;
  background: #103C68;
  color: #FFF;
  font-weight: bold;
  border-bottom: 5px solid #1860A8;
}


#sidebar ul li a:link, 
#sidebar ul li a:visited {
  background: #FFF;
  border-bottom: 1px solid #F0F0EE;
  text-decoration: none;
}

#sidebar ul li a:hover, 
#sidebar ul li a:active {
  background: #D3E8C1;
  color: #FFF;
}

#main-navigation {
  margin-right: 20px;
  padding: 7px 7px 0 7px; 
}

#main-navigation ul li {
  background: #0a2542;
  margin-right: 4px;
}

#main-navigation ul li:hover {
  background: #1860A8;
}

#main-navigation ul li a {
  padding: 10px 10px 10px 10px;
  font-size: 14px;
  font-weight: bold;
}

#main-navigation ul li.active {
  background: #e4ebe4;
  border: 1px solid #8399B5;
  border-bottom: none;
  font-weight: bold;
}

#main-navigation ul li a:hover,
#main-navigation ul li a:link, 
#main-navigation ul li a:visited, 
#main-navigation ul li a:active,
.secondary-navigation ul li a:link, .secondary-navigation ul li a:visited, 
.secondary-navigation ul li a:hover, .secondary-navigation ul li a:active {
  text-decoration: none;
  color: #FFF;
}

#user-navigation ul li a:link, 
#user-navigation ul li a:visited,  
#user-navigation ul li a:active {
	color: #FFFFFF;
}

#user-navigation ul li a:hover { color: #fff; background: #0a2542; }

#main-navigation ul li.active a:link, 
#main-navigation ul li.active a:visited, 
#main-navigation ul li.active a:hover, 
#main-navigation ul li.active a:active {
  color: #262626;
}

.secondary-navigation {
  background: #0a2542;
  border-bottom: 5px solid #1860A8;
}

.secondary-navigation ul li a {
display:block;
padding: 8px 12px;
}

.secondary-navigation ul li.active {
  background: #1860A8;
  font-weight: bold;
}

.secondary-navigation ul li.active a:hover {
  background: #1860A8;
}

.secondary-navigation li a:hover {
  background: #1860A8;
}

#footer .block {  
  color: #FFF;
  background: #103C68;
}

#footer .block p {      
  margin: 0;  
  padding: 5px;
}

/* pagination */

.pagination em {
  background: #262626;
  color: #FFF;
  border-color: #262626;
}

.pagination a {
  color: #262626;
  border-color: #262626;
}

.pagination a:hover {
    color: #FFF;
    background: #262626;
}

/* tables */


.table th {
  color: #000;
}

.table td,
.table th {
  border-bottom:1px solid #c3c2c5;
}

.table tr.odd {background: #F9F9F9}
.table tr.even {background: #EEEEEE;}


/* forms */

.form input.text_field, .form textarea.text_area {
  width: 100%;
  border: 1px solid #262626;
}

.form button {
  background: #EEE;
  color: #262626;
  padding: 2px 5px;
  border: 1px solid #262626;
  cursor: pointer;
}

.form .description {
  font-style: italic;
  color: #8C8C8C;
  font-size: .9em;
}

button.button:hover, a.button:hover {
  background-color:#DEDEDE;
  background-image: none;
}

/* flash-messages */
.flash .message {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-align:center;
  margin: 0 auto 15px;

}

.flash .message p {
  margin:8px;
}
.flash .error, 
.flash .alert,
.message.fatal{
  border: 1px solid #fbb;
  background-color: #fdd;
}

.flash .warning {
  border: 1px solid #fffaaa;
  background-color: #ffffcc;
}
.flash .notice {
  border: 1px solid #1FDF00;
  background-color: #BBFFB6;
}

/* lists */

ul.list li {
  border-bottom-color: #F0F0EE;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

ul.list li .item .avatar {
  border-color: #F0F0EE;
  border-width: 1px;
  border-style: solid;
  padding: 2px; 
}

/* box */

#box .block {
  background: #FFF;  
}

#box .block h2 {
  color: #fff;
  background: #103C68;
  border-bottom: 5px solid #1860A8;
}

#box .block .content { border: 1px solid #103C68; border}

/* login */

#block-login {   }
#block-login h2 { background: #3B5526;border-bottom: 5px solid #81b953;}

/* rounded borders */

/*#main, #main-navigation li, */
#main, 
.secondary-navigation, #main .block, #sidebar .block, 
#sidebar h3, ul.list li, #footer .block, 
.form button, #box .block, #box .block h2 {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
}

.secondary-navigation li.first a, 
.secondary-navigation ul li.first, 
.table th.first, .table th.first {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
}

.table th.last {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
}

.secondary-navigation ul li.first {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
}

#sidebar, #sidebar .block, #main .block, 
#sidebar ul.navigation, ul.list li, 
#footer .block, .form input.button, #box .block {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
}

a.button, button.button {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* shadows and gradients */

#header,
#sidebar h3 {
  background-image: -moz-linear-gradient(top, #175796, #103C68); 
  background-image: -o-linear-gradient(top, #175796, #103C68); 
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #175796),color-stop(1, #103C68)); 
  background-image: -webkit-linear-gradient(#175796, #103C68);
  background-image: linear-gradient(top, #175796, #103C68);
}

a.button, button.button {
  background-image: -moz-linear-gradient(top, #f5f5f5, #d0d0d0); 
  background-image: -o-linear-gradient(top, #f5f5f5, #d0d0d0); 
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f5f5f5),color-stop(1, #d0d0d0)); 
  background-image: -webkit-linear-gradient(#f5f5f5, #d0d0d0);
  background-image: linear-gradient(top, #f5f5f5, #d0d0d0);
}
