/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset > ol > li p.inline-hints { color:#333; }

HINT:
The following style may be *conditionally* included for improved support on older versions of IE(<8)
form.formtastic fieldset ol li fieldset legend { margin-left: -6px;}

--------------------------------------------------------------------------------------------------*/

form.formtastic fieldset.inputs {
  border: 1px solid #d2d5d3;
  -moz-border-radius: 3px 3px 3px 3px;
  padding: 20px;
  margin-bottom: 40px;
}

form.formtastic fieldset legend span {
  font-size: 16px;
  font-weight: bold;
  color: #929593;
  margin: 5px;
}

form.formtastic fieldset > ol > li p.inline-hints {
  clear: both;
  margin: 5px;
  font-style: italic;
}

form.formtastic fieldset > ol > li label {
  float: none;
  font-weight: bold;
  width: auto;
}

form.formtastic fieldset > ol > li.boolean label,
form.formtastic fieldset.buttons {
  padding-left: 0px;
}

form.formtastic input,
form.formtastic textarea,
form.formtastic select {
  background: #fff;
  margin-top: 10px;
  border: 1px solid #c2c5c3;
  font-size: 14px;
  padding: 6px;
  -moz-border-radius: 3px 3px 3px 3px;
}

form.formtastic select {
  padding: 0px;
}

form.formtastic input:focus,
form.formtastic textarea:focus,
form.formtastic select:focus {
  border: 1px solid #828583;
  background: #f2f2f2;
}

form.formtastic fieldset > ol > li.string input, 
form.formtastic fieldset > ol > li.password input, 
form.formtastic fieldset > ol > li.numeric input, 
form.formtastic fieldset > ol > li.email input, 
form.formtastic fieldset > ol > li.url input, 
form.formtastic fieldset > ol > li.phone input, 
form.formtastic fieldset > ol > li.search input {
  width: 50%;
}

form.formtastic div.nested-fields fieldset {
  border: none;
  margin-bottom: 0px;
  padding: 0px;
}

form.formtastic div.nested-fields fieldset > ol > li {
  float: left;
}

form.formtastic div.nested-fields fieldset > ol > li input, 
form.formtastic div.nested-fields fieldset > ol > li select {
  margin-right: 20px;
  width: auto;
}

form.formtastic div.nested-fields fieldset > ol > a.button {
  margin-top: 31px;
}
