.image {
  display: table-cell;
  border: 1px solid #262626;
  text-align: center;
  vertical-align: middle;
}

.image.small {
  width: 36px;
  height: 36px;
}

.image.large {
  width: 132px;
  height: 132px;
}

.image img {
  vertical-align: middle;
}

#sidebar a.button {
  float: none;
  margin: 10px;
}

span.language_switcher {
  float:right;
  font-size: 60%;
  vertical-align: super;
}

span.language_switcher a {
  color: #DFDFE1;
}

div.rating {
  white-space: nowrap;
}
