.nested-fields
  %fieldset.inputs
    = f.input :role, as: :select, collection: ConferenceUser::ROLES
    = f.input :conference, as: :select, collection: manageable_conferences
    = remove_association_link :conference_user, f
    %hr/
