.nested-fields
  %fieldset.border.p-3.mb-4
    .d-flex.flex-wrap.gap-3
      = f.input :start_date, as: :string, input_html: { type: 'datetime-local', value: f.object.start_date.try(:strftime, '%Y-%m-%dT%H:%M'), step: (@conference.timeslot_duration * 60) }
      = f.input :end_date, as: :string, input_html: { type: 'datetime-local', value: f.object.end_date.try(:strftime, '%Y-%m-%dT%H:%M'), step: (@conference.timeslot_duration * 60) }
      .d-flex.align-items-end.pb-3
        = remove_association_link :day, f
