.nested-fields
  %fieldset.inputs
    = f.input :start_date, html5: true, hint: "yyyy-mm-dd hh:mm", as: :datetime, input_html: { value: f.object.start_date.try(:strftime, '%Y-%m-%d %H:%M') }
    = f.input :end_date, html5: true, hint: "yyyy-mm-dd hh:mm", as: :datetime, input_html: { value: f.object.end_date.try(:strftime, '%Y-%m-%d %H:%M') }

    = remove_association_link :day, f
