<div class="nested-fields">
  <fieldset class="inputs">
    <%= f.input :start_date, html5: true, hint: "yyyy-mm-dd hh:mm", as: :datetime%>
    <%= f.input :end_date, html5: true, hint: "yyyy-mm-dd hh:mm", as: :datetime%>
    <%= remove_association_link :day, f %>
  </fieldset>
</div>

<script>
    $(function() {
      $('div.datetime input').datetimepicker({
        dateFormat: "yy-mm-dd",
        timeFormat: "hh:mm"
      });
    });
</script>
