<div class="nested-fields">
  <%= f.inputs do %>
    <%= f.input :start_date, :hint => "yyyy-mm-dd hh:mm", :as => :datetime_select %>
    <%= f.input :end_date, :hint => "yyyy-mm-dd hh:mm", :as => :datetime_select %>
    <%= remove_association_link :day, f %>
  <% end %>
</div>


<script>
    $(function() {
      $('div.datetime input').datetimepicker({ 
        dateFormat: "yy-mm-dd",
        timeFormat: "hh:mm"
      });
    });
</script>
