= simple_form_for(@conference, url: conference_path) do |f|
  = dynamic_association :notifications, t(:notifications), f
  .actions
    = f.button :submit, class: 'primary'

:javascript
  $('[data-function="notification-defaults"]').click(function(){
    var args = $(this).data("args");
    var topDiv = $(this).closest('div.notification');
    NotificationDefaults.fill({ topDiv: topDiv, url: args.url });
  });
