.bulk-notification
  %h3= t('notifications_module.n_events_in_state_x', count: e.count, state: t(state, scope: 'conferences_module'))
  - subscribers = e.map { |e| e.subscribers.count }.sum
  - nospeakers = e.select { |e| e.speakers.count == 0 }
  - if nospeakers.count > 0
    %p
      = t('notifications_module.warning_events_without_speakers', count: nospeakers.count)
      - nospeakers.each do |e|
        = link_to e.title, e
  %p

  = button_to(t('notifications_module.send_notification_to_subscribers',
                name: t(name, scope: 'notifications_module.notif'),
                count: subscribers,
                event: t('notifications_module.n_events', count: e.count) ),
              { action: 'send_notification', notification: state },
              { class: "btn danger",
                data: { confirm: t('notifications_module.send_notification_confirm',
                                    name: t(name, scope: 'notifications_module.notif'),
                                    count: e.count),
                        disable_with: t('work_in_progress') }})
