<div class="nested-fields">
  <%= f.inputs do %>
    <%= f.input :name %>
    <%= f.input :color, :input_html => {:size => 6, :class => "color"} %>
    <%= remove_association_link t(:remove_track), f %>
  <% end %>
</div>
