%section
  .page-header
    .d-flex.flex-column.flex-md-row.justify-content-between.align-items-start.align-items-md-center.gap-3.mb-4
      %h1.mb-0= t :edit_conference
      .d-flex.flex-wrap.gap-2
        - if policy(@conference).destroy?
          = delete_button conference_path(conference_acronym: @conference.acronym), hint: t('destroy')
  = render partial: 'tabs', locals: { active: :settings }

  .row
    .col-md-12
      = render 'form'
