<h1>Listing conferences</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @conferences.each do |conference| %>
  <tr>
    <td><%= link_to 'Show', conference %></td>
    <% if can? :manage, event %>
      <td><%= link_to 'Edit', edit_conference_path(conference) %></td>
      <td><%= link_to 'Destroy', conference, :confirm => 'Are you sure?', :method => :delete %></td>
    <% else %>
      <td colspan="2"></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Conference', new_conference_path %>
