%section
  .page-header
    .pull-right
      - if policy(Conference).new?
        = action_button "primary", t('conferences_module.add_conference'), new_conference_path, hint: t('conferences_module.add_conference_hint')
    %h1= t('titles.conferences_index')
  - if params[:term].blank? and Conference.all.empty?
    .row
      .span16
        .blank-slate
          %p= t('conferences_module.no_conferences')

  - else
    = render 'shared/search_and_table', collection: @conferences
