%section
  .page-header
    %h1= @first ? t(:create_your_first_conference) : t(:new_conference)
  - if @first
    .row
      .span16
        .blank-slate
          %p= t('conferences_module.new_welcome')
  .row
    .span16
      = render "form"
