%section
  .page-header
    %h1= @first ? t(:create_your_first_conference) : t(:new_conference)
  - if @first
    .row
      .span16
        .blank-slate
          %p
            Welcome! It looks as if this is your first time here.
            To get started organizing a conference you need to first
            enter some data about it. You can change most of what
            you enter now later. But some things cannot be changed
            easily after you submit this form, so please read the
            hints for every form field carefully and double check
            what you enter.
  .row
    .span16
      = render "form"
