<%= block do %>
  <%= content do %>
    <% if @first %>
    <h2>Create your first conference</h2>
    <% else %>
    <h2>New conference</h2>
    <% end %>
    <%= inner do %>
      <%= render "form" %>
    <% end %>

  <% end %>

<% end %>
