- @unscheduled_events.each do |event|
  .unscheduled-event{ :"data-update-url" => event_path(event),
          :"data-room" => event.room ? event.room.name.downcase : nil, 
          :"data-time" => event.start_time ? event.start_time.to_s(:rfc822) : nil,
          :"data-height" => (event.time_slots * 20 - 7) }
    = event.title
