%section
  .page-header
    .pull-right
      = action_button "", schedule_button_text, public_schedule_index_path, hint: "View the public live version of your schedule just like any attendee might see it."
      = action_button "", "Create custom PDF export", new_schedule_pdf_path, hint: "Create a PDF version of your program schedule that can easily be printed."
      = action_button "success", "Publish HTML export", schedule_html_exports_path, hint: "Create a HTML version of your program schedule that can be copied to another web server."
    %h1 Schedule

  = render 'shared/event_scheduler'
