.flash
  - flash.each do |type, message|
    %div{class: "alert-message #{ { "notice" => "success", "alert" => "error" }.fetch(type.to_s, type.to_s) } fade in", "data-alert" => "alert"}
      %a.close{href: "#"} ×
      %p= message
