.flash
  - flash.each do |type, message|
    - unless type == :timedout
      %div{class: "alert alert-#{ flash_alert(type.to_s) } alert-dismissible fade show", role: :alert}
        %button.btn-close{type: "button", "data-bs-dismiss": "alert", "aria-label": "Close"}
        %p.mb-0= message
