- if content_for? :footer
  %footer.border-top.py-4.mt-auto{style: "background-color: var(--frab-bg-secondary); color: var(--frab-text); border-color: var(--frab-border) !important;"}
    .container-xxl
      = yield :footer
