<div class="nested-fields">
  <%= f.inputs do %>
    <%= f.input :code, :as => :language, :label => t("activerecord.models.language"), :priority_languages => [:en, :es, :de], :include_blank => "" %>
    <%= remove_association_link t(:remove_language), f %>
  <% end %>
</div>
