.nested-fields
  .card.border-secondary.border-opacity-25.mb-3
    .card-body.p-3
      = f.input :code, as: :language_select, priority: Language::SUPPORTED_SYMS
      .d-flex.justify-content-end
        = remove_association_link :language, f
