%li.nav-item
  = link_to t("cfp.login"), new_user_session_path, class: 'nav-link'
- if Devise.mappings[:user].registerable?
  %li.nav-item
    = link_to t("cfp.sign_up"), new_user_registration_path, class: 'nav-link'

