= render 'shared/simple_search', :path => request.path
- if collection.all.empty?
  %p Sorry, but your search yielded no results.
- else  
  = render 'table', :events => collection 
  = actions_bar do
    = will_paginate collection
