- content_for :title do
  = link_to 'frab - home', root_url, class: 'brand'

%h2 Conferences
- if @future_conferences.empty?
  none
- else
  = render 'table', collection: @future_conferences

%h2 Past Conferences

- if @past_conferences.empty?
  none
- else
  = render 'table', collection: @past_conferences
