- scope = ('events_module.indicator.short' if short) || 'events_module.indicator.full'
- if event.submitted_after_hard_deadline?
  %span.badge.bg-danger.text-white.ms-1{class: [short && 'badge-sm']}
    %i.bi.bi-exclamation-triangle.me-1
    = t('submitted_after_soft_deadline', scope: scope)
- elsif event.submitted_after_soft_deadline?
  %span.badge.bg-warning.text-dark.ms-1{class: [short && 'badge-sm']}
    %i.bi.bi-clock.me-1
    = t('submitted_after_hard_deadline', scope: scope)


