%section
  .page-header
    %h1= t('titles.event', event: @event.title)
  = render 'shared/events_tabs'
  .row
    .col-md-12
      .blank-slate
        = render 'recent_changes/table'
        - if @versions.respond_to?(:total_pages) && @versions.total_pages > 1
          .d-flex.justify-content-center.mt-3
            = will_paginate @versions
