%section
  .page-header
    %h1 Confirm your attendance
    = form_tag request.url do
      %p
        Your confirmation is required for the event
        %b=@event.title
      = submit_tag "Confirm attendance", class: 'btn btn-large btn-primary'

