%h1 Listing cfp_events
%table
  %tr
    %th
    %th
    %th
  - @cfp_events.each do |cfp_event|
    %tr
      %td= link_to 'Show', cfp_event
      %td= link_to 'Edit', edit_cfp_event_path(cfp_event)
      %td= link_to 'Destroy', cfp_event, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New Event', new_cfp_event_path
