%section
  .page-header
    .pull-right
      = action_button "primary", "Edit", edit_call_for_papers_path, :hint => "Edit this call for paper's data."
    %h1 Call for Papers
  .row
    .span16
      %p
        The interface for submitters is available at:
        =link_to cfp_root_url
  .row
    .span16
      #submission_graph{:style => "width: 800px; height: 300px;"}
        
:javascript
  var data = #{@conference.submission_data.inspect};
  
  $.plot($("#submission_graph"), [data], { xaxis: { mode: "time" } });
