- content_for :title do
  = link_to 'frab - admin users', root_url, class: 'brand'

- if current_user.is_admin?
  %h2 Admins
  - if @admin_users.empty?
    none
  - else
    = render 'table_admins', collection: @admin_users

%h2 Crews

- if @conference_users.empty?
  none
- else
  = render 'table', collection: @conference_users
