body {
  padding-top: 40px;
  background-color: #eeeeee;
}

.topbar .fill {
  padding: 0 1em;
}

.topbar .container {
  width: 100%;
}

.main-content {
  background-color: #fff;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  margin: 0 -20px;
  padding: 20px;
}

section {
  padding-top: 20px;
}

.image {
  text-align: center;
  vertical-align: middle;
  border: 1px solid #DDDDDD;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  padding: 4px;
}

.image.small {
  width: 32px;
  height: 32px;
}

p.small{ font-size: 8px; }

.image.large {
  width: 128px;
  height: 128px;
}

.image img {
  vertical-align: middle;
}

#my_rating {
  padding-top: 8px;
}

div.rating {
  white-space: nowrap;
}

table.room {
  width: 150px;
  margin: 10px;
  float: left;
  border-collapse: collapse;
}

table.room thead tr th {
  padding: 5px;
}

table.room tbody tr {
  margin: 0px;
}

table.room tbody tr td {
  border: 1px solid white;
  height: 20px;
  padding: 0px;
}

table.room tbody tr td.event-hover {
  background: #FFFF00;
}

div.event {
  background: #33EE33;
  width: 143px;
  z-index: 10;
  font-size: 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 3px;
}

div.event.fatal {
  background: #EE3333;
}

div.event.warning {
  background: #EEEE00;
}

div.unscheduled-event {
  background: #F9F9F9;
  border: 1px solid #EEEEEE;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 3px;
  margin: 5px;
}

table.room tr.odd {background: #F9F9F9}
table.room tr.even {background: #EEEEEE;}

span.right { float: right; }

td.buttons { white-space: nowrap; }
td.nowrap { white-space: nowrap; }

a.assoc {
  margin-left: 150px;
}

textarea { height: auto; width: 420px; }

ul#unscheduled-events {
  height: 400px;
}
div#add-event-modal {
  overflow: auto;
}

p.availability span {
    float: right;
    margin-left: 5px;
    margin-right: 140px;
    display: block;
}

.dl-horizontal {
    clear: both;
}
.dl-horizontal, .dl-horizontal {
    content: "";
    display: table;
    line-height: 0;
}

.dl-horizontal dt {
    clear: left;
    float: left;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 160px;
}


.dl-horizontal dd {
    margin-left: 180px;
}
