table.room {
  width: 150px;
  margin: 10px;
  float: left;
  border-collapse: collapse;
}

table.room thead tr th {
  padding: 5px;
}

table.room tbody tr {
  margin: 0px;
}

table.room tbody tr td {
  border: 1px solid var(--frab-text-inverse);
  height: 20px;
  padding: 0px;
}

table.room tbody tr td.event-hover {
  background: var(--frab-event-hover);
}

div.event {
  background: var(--bs-info-bg-subtle);
  width: 143px;
  z-index: 10;
  font-size: 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 3px;
}

div.event.fatal {
  background: var(--bs-danger-bg-subtle);
}

div.event.warning {
  background: var(--bs-warning-bg-subtle);
}

div.unscheduled-event {
  background: var(--bs-light-bg-subtle);
  border: 1px solid var(--frab-event-border);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 3px;
  margin: 5px;
}

div.color-preview {
  width: 1em;
  height: 1em;
  border: 1px solid var(--frab-color-preview-border);
  float: left;
  margin: .5ex 1ex .5ex .5ex;
}

ul#unscheduled-events {
  height: 400px;
}
div#add-event-modal {
  overflow: auto;
}

p.availability span {
    float: right;
    margin-left: 5px;
    margin-right: 140px;
    display: block;
}

.classifier-meter {
    width: 12em;
    margin-right: 1.5em;
}

.badge-sm {
    font-size: 0.7em;
    padding: 0.25em 0.4em;
}

.filter_icon {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    vertical-align: bottom;
}

.filter_icon.true {
    background: asset-data-url("filter_on.svg");
    background-size: contain;
}
.filter_icon.false {
    background: asset-data-url("filter_off.svg");
    background-size: contain;
}

.filter_icon:hover {
    background: asset-data-url("filter_highlight.svg");
    background-size: contain;
}

.filter_form_op div.input {
    color: var(--frab-filter-error);
    margin-left: auto;
}


.conf-accepted-durations {
    columns: 6;
    width: fit-content;
}
