.image {
  display: table-cell;
  border: 1px solid #262626;
  text-align: center;
  vertical-align: middle;
}

.image.small {
  width: 36px;
  height: 36px;
}

.image.large {
  width: 132px;
  height: 132px;
}

.image img {
  vertical-align: middle;
}

#sidebar a.button {
  float: none;
  margin: 10px;
}

span.language_switcher {
  float:right;
  font-size: 60%;
  vertical-align: super;
}

span.language_switcher a {
  color: #DFDFE1;
}

div.rating {
  white-space: nowrap;
}

table.room {
  width: 150px;
  margin: 10px;
  float: left;
  border-collapse: collapse;
}

table.room tr {
  margin: 0px;
}

table.room tr td {
  border: 1px solid white;
  height: 20px;
}

table.room tr td.event-hover {
  background: #FFFF00;
}

div.event {
  background: #33EE33;
  width: 143px;
  z-index: 10;
  font-size: 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 3px;
}

div.event.fatal {
  background: #EE3333;
}

div.event.warning {
  background: #EEEE00;
}

div.unscheduled-event {
  background: #F9F9F9;
  border: 1px solid #EEEEEE;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 3px;
  margin: 5px;
}

table.room tr.odd {background: #F9F9F9}
table.room tr.even {background: #EEEEEE;}

span.right { float: right; }

div#conf-switch {
  position:absolute; 
  background: #262626; 
  z-index: 10;
  -moz-border-radius: 0px 0px 3px 3px;
  -webkit-border-radius: 0px 0px 3px 3px;
  border-radius-bottom: 0px 0px 3px 3px;
  padding: 5px;
}

div#conf-switch a {
  padding: 10px;
  margin: 5px;
  display: block;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius-bottom: 3px;
}

#user-navigation ul li div#conf-switch a:hover {
  color: #000;
  background: #fff;
}

.tooltip {
  display: none;
  background: #f9f9f9;
  color: #111111;
  border: 1px solid #c3c2c5;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius-bottom: 4px;
  padding: 10px;
  -moz-box-shadow: 0px 0px 4px #000;
  -webkit-box-shadow: 0px 0px 4px #000;
  box-shadow: 0px 0px 3px #000;
  width: 25%;
}
