/*
 *= require formtastic
 *= require formtastic_changes
 *= require_self
 *
 */

* { margin: 0; padding: 0; }

body {
  font:normal 12px verdana, sans-serif;
  background: #ffffff;
}

#wrapper { width: 100%; }

#header h1 {
  padding: 15px 26px;
}

#top-navigation {
}

#main-content p.release {
  float: right;

  background-color: #C7C8C6;
  color: black;
  font-size: 100%;

  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;

  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}

#main-content > ul {
  margin-left: 20px;
}

ul.horizontal-navigation {
  height: 35px;
  width: 135px;
  left: 20px;
  position: absolute;
  top: 170px;
}

ul.horizontal-navigation li {
  background-color: #E1E1E1; /*#00afeb;*/
  border: solid 1px #C7C8C6;
  list-style: none;
  margin: 5px 1px 0 0;
  /*height:32px;*/
}

ul.horizontal-navigation li a {
  color: #666;
  padding: 10px 25px;
  text-align: center;
  display:block; 
  font: bold 12px verdana, sans-serif;
  text-decoration: none;
  line-height: 125%;
}

.clear {
  clear: both;
  line-height: 1px;
  height: 1px;
}

#main-content {
  position: absolute;
  left: 175px;
  right: 2em;
  padding-left: 1em;
  height: auto;
  border-style: solid;
  border-width: 5px 1px 1px;
  border-color: #C7C8C6;
  background-color: #FEFEFE;
}

#main-content > h2 {
  font-size: 24px;
  padding-top: 15px;
}

#main-table {
  margin: 10px 20px;
  width: auto;
  height: auto;
  overflow: visible;
}

td#top-left {
  border-top: none;
  height: 25px;
}

#conference-rooms {
  left: 45px;
  top: 0px;
}

table.rooms-table {
  border-spacing: 0;
  background: #e4e4e4;
  position: relative;
}

table.rooms-table td {
  border: 1px solid white;
  border-top: none;
  vertical-align: top;
  width: 200px;
}

table.rooms-table td.cell-time {
  width: 45px;
  border-bottom: 1px solid #9D9D9D;
  vertical-align: middle;
  text-align: center;
  font: bold 12px verdana, sans-serif;
  color:#666;
  background: #fff;
}

table.rooms-table th {
  height: 25px;
  padding: 3px;
  border: 1px solid #fff;
  text-align: center;
  color: #fff;
  margin: 0;
  border-bottom: 1px solid #9D9D9D;
  font-weight: bold;
  background: #666;
}

table.rooms-table th.cell-time {
  background: #fff;
}

.event {
  width: 98%;
  height: 100%;
  border:1px solid;
  margin: 0 auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.event-wrapper {
  height: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: -moz-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.6) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.2)), color-stop(100%,rgba(255,255,255,0.6))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0.6) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0.6) 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0.6) 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#66ffffff',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0.6) 100%); /* W3C */
}

.event-header {
  position: relative;
  width: 100%;
  height:auto;
}

.event-header h2 {
  padding: 5px;
  font-size: 11px;
}

.event-details {
  overflow: auto;
  width: 100%;
  height: 67%;
  font-size: 11px;
}

.event-details p { margin: 5px; }

.cell {
  width: 96%;
  border-bottom: 1px solid #9D9D9D;
}

div.event.track-default {
  background-color: #fefd7f;
  border-color: #fefd7f;
}

div.event.track-default div.event-header {
  background-color: #fefd7f;
}

div.subtitle {
  font-style: italic;
  display: block;
  margin-bottom: 10px;
}

div.speakers {
  font-weight: bold;
}

table.list {
  border-spacing: 2px;
  font-size: 14px;
}

table.list td {
  background: #e4e4e4;
  padding: 10px;
}

ul {
  margin-left: 1em;
}

a {
  color: #000;
  text-decoration: none;
}

table.list a:hover {
  text-decoration: underline;
}

table.list a img {
  border: none;
}

.column-left {
  width: 30%;
  float: left;
}

.column-right {
  width: 30%;
  float: right;
}

h2.title,
h3.title {
  margin-bottom: 30px;
}

.column {
  font-size: 14px;
}

.column h3,
.column p,
.column ul {
  margin-bottom: 20px;
}

.column.left {
  float: left;
  margin-right: 20px;
}

.column.right {
  float: right;
}

.column#basic {
  width: 40%;
}

.column#details {
  width: 20%;
}

.column#sidebar {
  width: 30%;
}

.column#basic div.image {
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
}

p.abstract {
  font-style: italic;
}

#pagination {
  text-align: right;
}

.page-button {
  background: #5d5e5d;
  border-bottom: 1px solid #9D9D9D;
  font-weight: bold;
  font-size: 24px;
  padding: 5px 10px 5px 10px;
  margin: 5px;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.page-button.disabled {
  background: #9D9D9D;
  color: #9D9D9D;
}

span#pages {
  padding: 10px 10px 10px 10px;
  font-size: 14px;
  font-weight: bold;
}

.column a {
  text-decoration: underline;
}
