  /*
 *= require_self
 *
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display:block;
}

* { margin: 0; padding: 0; }

body {
  font:normal 12px verdana, sans-serif;
  background: #ffffff;
}

#wrapper { width: 100%; }

#header {
  background-color: #41afff;
}

#header h1 {
  color: #fff;
}

#navigation p.tracks {
  padding-top: 20px;
  padding-bottom: 10px;
}

#navigation ul.tracks {
  list-style: none;
  list-style-type: none;
}

#navigation ul.tracks li {
  width: 150px;
  padding-top: 0;
  margin-top: 0;
}

#main-content p.release {
  float: right;

  background-color: #41afff;
  color: black;
  font-size: 100%;

  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;

  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}

#main-content > ul {
  margin-left: 20px;
}

#navigation {
  float: left;
  padding: 10px 0.7em 1em 2em;
  vertical-align: top;
}

#navigation ul {
  margin: 0;
  min-width: 135px;
}

#navigation ul li {
  padding-top: 5px;
  list-style: none;
  margin: 5px 1px 0 0;
}

#navigation ul li a {
  text-decoration:none;
  color:#494947;
  text-align:center;
  margin:0;
  border-bottom:5px solid transparent;
}

#navigation ul li a:hover {
  text-decoration: underline;
}

.clear {
  clear: both;
  line-height: 1px;
  height: 1px;
}

#main-content {
  overflow: hidden;
  margin: 1em 2em 1em 0;
  padding-left: 1em;
  height: auto;
  border-style: solid;
  border-width: 1px 1px 1px;
  border-color: #41afff;
  background-color: #FEFEFE;
}

#main-content > h2 {
  font-size: 24px;
  padding-top: 15px;
  margin-bottom: 10px;
}

#main-table {
  margin: 10px 20px;
  width: auto;
  height: auto;
  overflow: visible;
}

#main-table hr {
  margin: 25px 0px 0px;
}

#main-table h2 {
  padding: 15px 0px;
}

td#top-left {
  border-top: none;
  height: 25px;
}

#conference-rooms {
  left: 45px;
  top: 0px;
}

table.rooms-table {
  border-spacing: 0;
  background: #41afff;
  position: relative;
}

table.rooms-table th {
  height: 25px;
  padding: 3px;
  border: 1px solid #fff;
  text-align: center;
  color: #fff;
  margin: 0;
  font-weight: bold;
  background: #666;
}

table.rooms-table td {
  border: 1px solid white;
  border-top: none;
  vertical-align: top;
  width: 200px;
}

table.rooms-table td.cell-time, table.rooms-table th.cell-time {
  width: 45px;
  padding: 0px;
  border-bottom: 1px solid #9D9D9D;
  vertical-align: top;
  text-align: center;
  color:#666;
  background: #fff;
}

.event {
  width: 98%;
  height: 100%;
  border:1px solid;
  margin: 0 auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.event-wrapper {
  height: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: -moz-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.7) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.3)), color-stop(100%,rgba(255,255,255,0.7))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.7) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.7) 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.7) 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dffffff', endColorstr='#b2ffffff',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.7) 100%); /* W3C */
  overflow: auto;
}

.event-header {
  position: relative;
  width: 100%;
  height: auto;
}

.event-header h2 {
  padding: 5px;
  font-size: 11px;
}

.event-details {
  font-size: 11px;
  padding: 2px;
}

.event-details p { margin: 5px; }

.cell {
  width: 96%;
  border-bottom: 1px solid #9D9D9D;
}

div.subtitle {
  font-style: italic;
  display: block;
  margin-top: 3px;
  margin-bottom: 10px;
}

div.speakers {
  font-weight: bold;
}

table.list {
  border-spacing: 2px;
  font-size: 14px;
}

table.list td {
  background: #41afff;
  padding: 10px;
}

ul {
  margin-left: 1em;
}

a {
  color: #000;
  text-decoration: none;
}

table.list a:hover {
  text-decoration: underline;
}

table.list a img {
  border: none;
}

.column-left {
  width: 30%;
  float: left;
}

.column-right {
  width: 30%;
  float: right;
}

h2.title,
h3.title {
  margin-bottom: 30px;
}

h3 {
  padding-top: 10px;
}

.column {
  font-size: 14px;
}

.column h3,
.column p,
.column ul {
  margin-bottom: 10px;
}

.column.left {
  float: left;
  margin-right: 20px;
}

.column.right {
  float: right;
}

.column#basic {
  width: 40%;
}

.column#details {
  width: 20%;
}

.column#sidebar {
  width: 30%;
}

.column#basic div.image {
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
}

p.abstract {
  font-style: italic;
}

#pagination {
  margin-bottom: 10px;
}

.page-button {
  background: #5d5e5d;
  border-bottom: 1px solid #9D9D9D;
  font-weight: bold;
  font-size: 24px;
  padding: 5px 10px 5px 10px;
  margin: 5px;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.page-button.disabled {
  background: #9D9D9D;
  color: #9D9D9D;
}

span#pages {
  padding: 10px 10px 10px 10px;
  font-size: 14px;
  font-weight: bold;
}

.column a {
  text-decoration: underline;
}

.event_feedback li.choice {
  display: inline-block;
  padding: 0 10px;
}

.event_feedback fieldset.inputs {
  margin-top: 1em;
}

.event_feedback fieldset.inputs ul.choices-group {
  float: none;
}

.event_feedback fieldset.inputs .help-block {
  display: block;
  padding-top: 0.5em;
}

/*
  mainly used for concurrent events
*/
.dl dd {
  margin-left: 180px;
}

dd {
  margin-left: 10px;
  margin-bottom: 5px;
}

dt, dd {
  line-height: 20px;
}

dt {
  font: bold 12px verdana, sans-serif;
}

.qr {
  padding-top: 10px;
}

.qr table {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
}

.qr table td {
  border-left: solid 5px #000;
  padding: 0;
  margin: 0;
  width: 0px;
  height: 5px;
}

.qr table td.black { border-color: #000; }
.qr table td.white { border-color: #fff; }

.event-time {
  float: left;
  width: 15%;
}

.event-list {
  float: left;
  margin-left: 15%;
  width: 85%;
}

.event-list .event {
  float: left;
  width: 25%;
  height: 25%;
  margin: 10px;
}

.event-list .event-wrapper {
  height: 100px;
  overflow: hidden;
}

.event-book {
  width: 98%;
  height: 100%;
  margin: 10px 0px;
}

.event-book p {
  margin: 5px 0px;
}

.event-book .label {
}

.event-navigation ul {
  margin: 0;
  min-width: 135px;
}

.event-navigation ul li {
  background: #41afff;
  padding-top: 5px;
  padding-left: 5px;
  list-style: none;
  margin: 5px 1px 0 0;
  width: 50%;
  overflow: hidden;
  height: 1.5em;
}

.event-navigation ul li a {
  text-decoration:none;
  color:#494947;
  text-align:center;
  margin:0;
  border-bottom:5px solid transparent;
}

.event-navigation ul li a:hover {
  text-decoration: underline;
}

hr.short {
  width: 50%;
}
