<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password, and you can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_cfp_user_password_url(:reset_password_token => @resource.reset_password_token, :conference_acronym => @resource.call_for_papers.conference.acronym) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
