%p= t('devise.mailer.password_change_instructions.headline', {email: @resource.email})

= raw(GitHub::Markdown.render(t('devise.mailer.password_change_instructions.text', {link: link_to(t('devise.change_my_password'), edit_password_url(@resource, reset_password_token: @token))})))
