%section
  .page-header
    .pull-right
    %h1 Person: #{@person.full_name}
  = render 'shared/people_tabs'
  .row
    .span16
      = render(partial: 'shared/expenses_form', locals: { person: @person, expense: @expense, url: person_expenses_path })
