= block do
  = content do
    %h2 Edit availability
    = inner do
      %p Please let us know when you will be available to hold the events you submit. We will try our best to incorporate these wishes when planning the schedule.
      = render 'form'
