%ul
  %li= link_to "events without speaker", report_on_events_path(1)
  %li= link_to "events with unconfirmed speakers", report_on_events_path(2)
  %li= link_to "people without event", report_on_people_path(1)
