= simple_form_for(@person, url: cfp_person_path, html: {multipart: true}) do |f|
  = render partial: 'shared/people_fields', locals: { person: @person, f: f }
  .actions
    = f.button :submit, class: 'primary'
