.nested-fields
  %fieldset.inputs
    = f.input :phone_type, :as => :select, :collection => translated_options(PhoneNumber::TYPES)
    = f.input :phone_number
    = remove_association_link :phone_number, f
