= block do
  = content do
    %h2 Personal details - Let us know about you
    = inner do
      %p Please fill out the following form to let us (and, if your submissions are selected, the conference participants) know you a little better.
      = render 'form'
