<%= block do %>
  <%= content do %>

    <h2>Personal details - Let us know about you</h2>

    <%= inner do %>

      <p>Please fill out the following form to let us (and, if your submissions are selected, the conference participants) know you a little better.</p>

      <p>Note that you can fill out the bare minimum now and always come back later to add more details.</p>
    
      <%= render 'form' %>

    <% end %>

  <% end %>

<% end %>
