%section
  .page-header
    .float-end
    %h1= t('titles.person', person: @person.full_name)
  = render 'shared/people_tabs'
  .row
    .col-md-12
      .card.shadow-sm
        .card-body
          %p.alert.alert-info= t('availabilities.alerts.no_availabilities', person: @person.full_name)

          = render 'form'
