<!DOCTYPE html>
<html>
<head>
  <title>
    <% if request.path =~ /\/cfp/ %>
      <%= @conference.title %> - Call for Papers
    <% else %>
      frab
    <% end %>
  </title>
  <%= stylesheet_link_tag "web-app-theme/base", "web-app-theme/themes/frab/style", "web-app-theme/override", "formtastic", "formtastic_changes", "frab" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <div id="box">
      <%= yield %>            
    </div>
  </div>
</body>
</html>
